.sub-head {
  background-color: #1F2937;
  height: 500px;
  display: flex;
}


.sub-left {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  width: 50%;
  flex-direction: column;
  color: white;

}

.head-title {
  font-size: 48px;
  width: 350px;
  font-weight: bold;
}

.head-body {
  font-size: 18px;
  width: 460px;
  min-width: 100px;
  max-width: 600px;
  color: #E5E7EB;
  
}

.head-button {
  width: 120px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.sub-right {
  display: flex;
  padding-right: 200px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.sub-right-img {
  width: 1000px;
  height: 400px;
  border: 1px solid green;
}

@media (max-width: 907px) {
  .sub-head {
    display: flex;
    flex-direction: column;
    width: 834px;
    height: 600px;

    
  }
  .sub-left {
    display: flex;
    justify-content: center; 
    padding-right: 215px;
    height: 250px
  }

  .head-title { 
    margin-top: 50px;
  }

  .head-button {
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .sub-right {
    height: 350px;
    width: 632px;
    display: flex;
    justify-content: center;
   }

  .sub-right-img {
    height: 300px;
    margin-left: 160px;
    
  }
}
